html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
}

.whole-content {
  padding: 0px 20px;
}

.NAVIGATION-bar {
  background-color: rgb(0, 0, 0);
  margin: 0;
  border: 0;
}

#products {
  background-color: rgb(238, 238, 238);
  /* background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */
}
.band{
  padding: 0px 130px;

}
.deals-box {
  padding: 50px 20px;
  /* text-align: center; */
  transition: 0.5s;
}

.deals-box:hover {
  transform: scale(1.1);
}

.deals-Container {
  padding: 10px 20px;
  text-align: center;

}

/* BOTTOM SECTION */
.footer {
  background: #000000;
  color: white;
}

.links {
  text-align: left;
}

.links ul {
  list-style-type: none;
}

.links li a {
  color: white;
  transition: color .2s;
}

.links li a:hover {
  text-decoration: none;
  color: #4180CB;
}

.about-company {
  text-align: left;
}

.about-company a {
  color: white;
  transition: color .2s;
}

.about-company a:hover {
  color: #4180CB;
}

.copyright p {
  border-top: 1px solid rgba(255, 255, 255, .1);
}
